<div class="content">
  <div class="clearfix">
    <header>
      <h2>Demo</h2>
      <p>Styles and primitive components. Start here.</p>
    </header>
    <div class="overview-layout">
        <a class="overview-item" routerLink="/components/select">
          <img class="overview-item-image" src="../assets/images/select.png">
          <span class="overview-item-label">Select</span>
        </a>
        <a class="overview-item" routerLink="/components/dialog">
          <img class="overview-item-image" src="../assets/images/dialog.png">
          <span class="overview-item-label">Dialog</span>
        </a>
        <a class="overview-item" routerLink="/components/date-picker">
          <img class="overview-item-image" src="../assets/images/date-picker.png">
          <span class="overview-item-label">Date Picker</span>
        </a>
    </div>
    
</div>