
<header class="content-header">
    <div class="content-container">
        <button></button>
        <div> Select Component </div>
    </div>
</header>

<div class="each-demo">
    <h2 class="heading h2">Default example</h2><br>
    <div class="demo-placeholder">
        <fk-select title="modules" [selectInput] = "selectInput" ></fk-select>
    </div>
</div>
<br>
<div class="each-demo">
    <h2 class="heading h2">Multiple example</h2><br>
    <div class="demo-placeholder">
        <fk-select-multiple title="modules" [selectInput] = "multiSelectInput" ></fk-select-multiple>
    </div>
</div>