<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <img class="logo" src="../assets/images/fk-greyscale.png"> 
  <div class="company-name">FourKites</div>
  <nav>
    <a routerLink="/components" class="title">Components</a>
  </nav>
</div>

<div class="demo-container">
  <router-outlet></router-outlet>
</div>

<template id="headerTemplate">
    <header class="content-header">
        <div class="content-container">
            <button></button>
            <div> {{title}} </div>
        </div>
    </header>
</template>